<div class="bg-zinc-800/70 h-56 rounded-lg overflow-hidden shadow-lg animate-pulse">
  <div class="p-4">
    <div class="flex gap-4">
      <div class="h-24 w-18 rounded bg-zinc-700"></div>
      <div class="flex-1 space-y-4">
        <div class="h-6 bg-zinc-700 rounded"></div>
        <div class="h-4 bg-zinc-700 rounded w-1/2"></div>
      </div>
    </div>
    <div class="mt-6 space-y-3">
      <div class="h-4 bg-zinc-700 rounded"></div>
      <div class="h-4 bg-zinc-700 rounded w-5/6"></div>
      <div class="h-4 bg-zinc-700 rounded w-3/4"></div>
    </div>
  </div>
</div>


