<nav class="w-full">
  <div
    class="hidden lg:flex flex-col border-r items-center gap-6 bg-zinc-950 h-screen w-60 pt-3 border-l border-zinc-800 overflow-auto"
  >
    <div class="flex gap-2.5 items-center select-none">
      <img class="w-10" src="/icon.svg" alt="icone" />
      <h1 class="text-2xl font-bold text-indigo-800">AniConnect</h1>
    </div>

    @defer (hydrate on idle)
    {
      @if(isLoggedIn())
      {
        <app-side-bar-menu-options [options]="navItems" [title]="''"></app-side-bar-menu-options>

        <app-side-bar-menu-options
          [options]="userItems"
          [title]="'Usuário'"
          [includeTitle]="true"
        ></app-side-bar-menu-options>

        <app-side-bar-menu-options
          [options]="outItems"
          [title]="'Outros'"
          [includeTitle]="true"
        ></app-side-bar-menu-options>
      }
      @else
      {
        <app-side-bar-menu-options
          [options]="guestItems"
          [title]="''"
        ></app-side-bar-menu-options>

        <app-side-bar-menu-options
          [options]="guestSessionItems"
          [title]="'Usuário'"
          [includeTitle]="true"
        ></app-side-bar-menu-options>
      }
    }




  </div>
  <div
    class="fixed bottom-0 left-0 right-0 lg:hidden h-20 border-t border-zinc-700 bg-zinc-950 flex items-center justify-center z-50"
  >
    <div class="flex justify-around items-center w-full">
      @for (item of NaviItemsMobile; track $index)
      {
        <app-side-bar-menu-option-mobile [option]="item"></app-side-bar-menu-option-mobile>
      }
    </div>
  </div>
</nav>
