<div class="grid grid-cols-10 gap-2 px-4 py-3 border-zinc-400 bg-zinc-800/20 transition-colors border-t">
  <!-- Posição -->
  <div class="col-span-1 flex items-center justify-center">
    <div class="w-4 h-4 rounded bg-zinc-600 animate-pulse"></div>
  </div>

  <!-- Avatar + Nome -->
  <div class="col-span-8 flex gap-6 md:col-span-4">
    <div class="w-10 h-10 rounded-full bg-zinc-600 animate-pulse"></div>
    <div class="flex flex-col gap-1">
      <div class="w-32 h-4 rounded bg-zinc-700 animate-pulse"></div>
      <div class="w-24 h-3 rounded bg-zinc-700 animate-pulse"></div>
    </div>
  </div>

  <!-- Nível -->
  <div class="col-span-2 flex justify-center items-center">
    <div class="flex gap-1 w-24 h-6 rounded-lg justify-center items-center bg-indigo-700/30 p-1">
      <div class="w-4 h-4 rounded bg-zinc-600 animate-pulse"></div>
      <div class="w-16 h-3 rounded bg-zinc-700 animate-pulse"></div>
    </div>
  </div>

  <!-- Troféu -->
  <div class="col-span-3 flex justify-center items-center">
    <div class="flex gap-1 w-17 h-6 rounded-lg justify-center items-center bg-amber-900/30 p-1">
      <div class="w-4 h-4 rounded bg-zinc-600 animate-pulse"></div>
      <div class="w-10 h-3 rounded bg-zinc-700 animate-pulse"></div>
    </div>
  </div>
</div>
